{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
    <div class="container text-center">
        <form method="post" action="/inspace/signin/">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> 아이디 저장
                </label>
                &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span class="txt_find">
                    <a href="/inspace/signup/" class="link_find">회원가입</a>
                  </span>
              </div>
            <button class="btn btn-primary btn-block" id="signin">Sign in</button>
        </form>
    </div>
</div>
    
{% endblock %}